<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.lamport.tla.toolbox.tool.tlc.modelCheck">
    <stringAttribute key="configurationName" value="Observe"/>
    <intAttribute key="distributedFPSetCount" value="0"/>
    <stringAttribute key="distributedNetworkInterface" value="10.0.0.79"/>
    <intAttribute key="distributedNodesCount" value="1"/>
    <stringAttribute key="distributedTLC" value="off"/>
    <intAttribute key="fpIndex" value="19"/>
    <intAttribute key="maxHeapSize" value="25"/>
    <stringAttribute key="modelBehaviorInit" value=""/>
    <stringAttribute key="modelBehaviorNext" value=""/>
    <stringAttribute key="modelBehaviorSpec" value="Spec"/>
    <intAttribute key="modelBehaviorSpecType" value="1"/>
    <stringAttribute key="modelBehaviorVars" value="observerTakeN, enqueuedN, takeN_, pc, queueContents, el_, el, downstreamTakeN, streams, takeN, upstreamN, upstreamEls, upstreamPending"/>
    <stringAttribute key="modelComments" value=""/>
    <booleanAttribute key="modelCorrectnessCheckDeadlock" value="false"/>
    <listAttribute key="modelCorrectnessInvariants">
        <listEntry value="1PulledRequestedInvariant"/>
        <listEntry value="1QueueIsNeverCancelled"/>
    </listAttribute>
    <listAttribute key="modelCorrectnessProperties">
        <listEntry value="0Termination"/>
    </listAttribute>
    <intAttribute key="modelEditorOpenTabs" value="8"/>
    <stringAttribute key="modelExpressionEval" value="LET UPSTREAM_ERROR == 2&#10;    UPSTREAM_NN == 3&#10;    x == [ n \in 1..UPSTREAM_NN |-&gt; IF n = 2 THEN 0 ELSE 1]&#10;IN x"/>
    <listAttribute key="modelParameterConstants">
        <listEntry value="UPSTREAM_N;;3;0;0"/>
        <listEntry value="DOWNSTREAM_TAKE_N;;3;0;0"/>
        <listEntry value="OBSERVER_TAKE_N;;3;0;0"/>
        <listEntry value="NULL;;NULL;1;0"/>
        <listEntry value="Q_STATES;;{running, completed, cancelled, errored};1;0"/>
        <listEntry value="QStateRunning;;running;0;0"/>
        <listEntry value="QStateErrored;;errored;0;0"/>
        <listEntry value="QStateCompleted;;completed;0;0"/>
        <listEntry value="QStateCancelled;;cancelled;0;0"/>
        <listEntry value="NONE;;NONE;1;0"/>
        <listEntry value="ERROR;;ERROR;1;0"/>
        <listEntry value="UPSTREAM_ERROR_N;;2;0;0"/>
    </listAttribute>
    <intAttribute key="modelVersion" value="20191005"/>
    <intAttribute key="numberOfWorkers" value="4"/>
    <stringAttribute key="result.mail.address" value=""/>
    <stringAttribute key="specName" value="observe"/>
    <stringAttribute key="tlcResourcesProfile" value="local custom"/>
</launchConfiguration>
