<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.lamport.tla.toolbox.tool.tlc.modelCheck">
    <stringAttribute key="configurationName" value="HappyPath_Empty"/>
    <intAttribute key="distributedFPSetCount" value="0"/>
    <stringAttribute key="distributedNetworkInterface" value="10.0.0.79"/>
    <intAttribute key="distributedNodesCount" value="1"/>
    <stringAttribute key="distributedTLC" value="off"/>
    <intAttribute key="fpIndex" value="0"/>
    <intAttribute key="maxHeapSize" value="25"/>
    <stringAttribute key="modelBehaviorInit" value="/\  pc = &quot;A&quot;&#10;/\  streams = [PIn |-&gt; [state |-&gt; S_Running, sent |-&gt; &lt;&lt;&gt;&gt;], POut |-&gt; [state |-&gt; S_Running, nRequested |-&gt; 0]]"/>
    <stringAttribute key="modelBehaviorNext" value="Spec"/>
    <stringAttribute key="modelBehaviorSpec" value="Spec"/>
    <intAttribute key="modelBehaviorSpecType" value="1"/>
    <stringAttribute key="modelBehaviorVars" value="inNTake, local_el, obsNTake, pc, outNTake, streams, outStreamUncons, guard, outChan"/>
    <stringAttribute key="modelComments" value="All streams are empty - the input contains no elements, the output requests no elements, and the observer requests no elements."/>
    <booleanAttribute key="modelCorrectnessCheckDeadlock" value="false"/>
    <listAttribute key="modelCorrectnessInvariants">
        <listEntry value="1InSendsOnlyElementsThanOutRequests"/>
    </listAttribute>
    <listAttribute key="modelCorrectnessProperties">
        <listEntry value="0Termination"/>
    </listAttribute>
    <intAttribute key="modelEditorOpenTabs" value="8"/>
    <stringAttribute key="modelExpressionEval" value=""/>
    <listAttribute key="modelParameterConstants">
        <listEntry value="States;;{S_Running, S_Succeeded, S_Cancelled, S_Errored};1;0"/>
        <listEntry value="Streams;;{P_In, P_Out, P_Obs};1;0"/>
        <listEntry value="PObs;;P_Obs;0;0"/>
        <listEntry value="PIn;;P_In;0;0"/>
        <listEntry value="POut;;P_Out;0;0"/>
        <listEntry value="SCancelled;;S_Cancelled;0;0"/>
        <listEntry value="SRunning;;S_Running;0;0"/>
        <listEntry value="SSucceeded;;S_Succeeded;0;0"/>
        <listEntry value="SErrored;;S_Errored;0;0"/>
        <listEntry value="inNTakeRange;;{0};0;0"/>
        <listEntry value="obsNTakeRange;;{0};0;0"/>
        <listEntry value="outNTakeRange;;{0};0;0"/>
    </listAttribute>
    <intAttribute key="modelVersion" value="20191005"/>
    <intAttribute key="numberOfWorkers" value="4"/>
    <stringAttribute key="result.mail.address" value=""/>
    <stringAttribute key="specName" value="observe"/>
    <stringAttribute key="tlcResourcesProfile" value="local custom"/>
    <setAttribute key="traceExploreExtends"/>
</launchConfiguration>
